@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');
body {
    background-color: rgb(68, 200, 143);
}

.block {
    width: 355px;
    height: 320px;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

#presets p {
    padding: 15px 0 0 15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#presets a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 295px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#preset-box {
    overflow-y: scroll;
    height: 260px;
}

.colorPicker {
    display: inline-block;
}

.colorPicker .twod {
    position: absolute;
    left: 60px;
    top: 75px;
    border-radius: 15px;
    /* margin-top: 30px;
    margin-left: 30px; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.colorPicker .twod, .colorPicker .twod .bg {
    width: 225px;
    height: 230px;
}

.colorPicker .oned {
    position: absolute;
    left: 315px;
    top: 75px;
}

.colorPicker .oned, .colorPicker .oned .bg {
    height: 230px;
    width: 225px;
}

.colorPicker .oned .bg {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
    width: 40px;
}

.colorPicker .twod .bg {
    position: absolute;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.colorPicker .oned .pointer {
    position: relative;
    z-index: 2;
}

.colorPicker .oned .pointer .shape {
    position: absolute;
    margin-left: -1px;
    margin-top: -4px;
    height: 6px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 0px 1px black;
    -moz-border-radius: 5px;
    border-radius: 15px;
}

.colorPicker .twod .pointer {
    position: relative;
    z-index: 2;
    width: 10px;
}

.colorPicker .twod .pointer .shape {
    position: absolute;
}

.colorPicker .twod .pointer .shape1 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border: 2px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.colorPicker .twod .pointer .shape2 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.colorPicker .oned .bg {
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: -moz-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(17%, #ffff00), color-stop(33%, #00ff00), color-stop(50%, #00ffff), color-stop(66%, #0000ff), color-stop(83%, #ff00ff), color-stop(100%, #ff0000));
    background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
    background: -o-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
}

.colorPicker .twod .bg1 {
    z-index: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.colorPicker .twod .bg2 {
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

@media (prefers-color-scheme: dark) {
    .block {
        background-color: rgba(0, 0, 0, 0.55);
    }
    #presets p {
        color: white;
    }
    #presets a {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .colorPicker .twod .pointer .shape2 {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .colorPicker .twod .pointer .shape1 {
        border: 2px solid white;
    }
    .colorPicker .oned .pointer .shape {
        border: 1px solid white;
        box-shadow: inset 0px 0px 0px 1px white;
    }
}